<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.cqu.mapper.CarMapper" >
  <resultMap id="BaseResultMap" type="org.cqu.pojo.Car" >
    <id column="CID" property="cid" jdbcType="INTEGER" />
    <result column="CName" property="cname" jdbcType="VARCHAR" />
    <result column="CPrice" property="cprice" jdbcType="REAL" />
    <result column="CSpeed" property="cspeed" jdbcType="INTEGER" />
    <result column="CFuel" property="cfuel" jdbcType="VARCHAR" />
    <result column="CType" property="ctype" jdbcType="VARCHAR" />
    <result column="CGear" property="cgear" jdbcType="VARCHAR" />
    <result column="Cwarranty" property="cwarranty" jdbcType="INTEGER" />
    <result column="Ctank_capacity" property="ctankCapacity" jdbcType="INTEGER" />
    <result column="CAcceleration" property="cacceleration" jdbcType="REAL" />
    <result column="CPic5" property="cpic5" jdbcType="VARCHAR" />
    <result column="CPic4" property="cpic4" jdbcType="VARCHAR" />
    <result column="CPic3" property="cpic3" jdbcType="VARCHAR" />
    <result column="CPic1" property="cpic1" jdbcType="VARCHAR" />
    <result column="CPic2" property="cpic2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CID, CName, CPrice, CSpeed, CFuel, CType, CGear, Cwarranty, Ctank_capacity, CAcceleration, 
    CPic5, CPic4, CPic3, CPic1, CPic2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.cqu.pojo.CarExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Car
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Car
    where CID = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Car
    where CID = #{cid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.cqu.pojo.CarExample" >
    delete from Car
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.cqu.pojo.Car" >
    insert into Car (CID, CName, CPrice, 
      CSpeed, CFuel, CType, 
      CGear, Cwarranty, Ctank_capacity, 
      CAcceleration, CPic5, CPic4, 
      CPic3, CPic1, CPic2
      )
    values (#{cid,jdbcType=INTEGER}, #{cname,jdbcType=VARCHAR}, #{cprice,jdbcType=REAL}, 
      #{cspeed,jdbcType=INTEGER}, #{cfuel,jdbcType=VARCHAR}, #{ctype,jdbcType=VARCHAR}, 
      #{cgear,jdbcType=VARCHAR}, #{cwarranty,jdbcType=INTEGER}, #{ctankCapacity,jdbcType=INTEGER}, 
      #{cacceleration,jdbcType=REAL}, #{cpic5,jdbcType=VARCHAR}, #{cpic4,jdbcType=VARCHAR}, 
      #{cpic3,jdbcType=VARCHAR}, #{cpic1,jdbcType=VARCHAR}, #{cpic2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.cqu.pojo.Car" >
    insert into Car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        CID,
      </if>
      <if test="cname != null" >
        CName,
      </if>
      <if test="cprice != null" >
        CPrice,
      </if>
      <if test="cspeed != null" >
        CSpeed,
      </if>
      <if test="cfuel != null" >
        CFuel,
      </if>
      <if test="ctype != null" >
        CType,
      </if>
      <if test="cgear != null" >
        CGear,
      </if>
      <if test="cwarranty != null" >
        Cwarranty,
      </if>
      <if test="ctankCapacity != null" >
        Ctank_capacity,
      </if>
      <if test="cacceleration != null" >
        CAcceleration,
      </if>
      <if test="cpic5 != null" >
        CPic5,
      </if>
      <if test="cpic4 != null" >
        CPic4,
      </if>
      <if test="cpic3 != null" >
        CPic3,
      </if>
      <if test="cpic1 != null" >
        CPic1,
      </if>
      <if test="cpic2 != null" >
        CPic2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="cname != null" >
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="cprice != null" >
        #{cprice,jdbcType=REAL},
      </if>
      <if test="cspeed != null" >
        #{cspeed,jdbcType=INTEGER},
      </if>
      <if test="cfuel != null" >
        #{cfuel,jdbcType=VARCHAR},
      </if>
      <if test="ctype != null" >
        #{ctype,jdbcType=VARCHAR},
      </if>
      <if test="cgear != null" >
        #{cgear,jdbcType=VARCHAR},
      </if>
      <if test="cwarranty != null" >
        #{cwarranty,jdbcType=INTEGER},
      </if>
      <if test="ctankCapacity != null" >
        #{ctankCapacity,jdbcType=INTEGER},
      </if>
      <if test="cacceleration != null" >
        #{cacceleration,jdbcType=REAL},
      </if>
      <if test="cpic5 != null" >
        #{cpic5,jdbcType=VARCHAR},
      </if>
      <if test="cpic4 != null" >
        #{cpic4,jdbcType=VARCHAR},
      </if>
      <if test="cpic3 != null" >
        #{cpic3,jdbcType=VARCHAR},
      </if>
      <if test="cpic1 != null" >
        #{cpic1,jdbcType=VARCHAR},
      </if>
      <if test="cpic2 != null" >
        #{cpic2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.cqu.pojo.CarExample" resultType="java.lang.Integer" >
    select count(*) from Car
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update Car
    <set >
      <if test="record.cid != null" >
        CID = #{record.cid,jdbcType=INTEGER},
      </if>
      <if test="record.cname != null" >
        CName = #{record.cname,jdbcType=VARCHAR},
      </if>
      <if test="record.cprice != null" >
        CPrice = #{record.cprice,jdbcType=REAL},
      </if>
      <if test="record.cspeed != null" >
        CSpeed = #{record.cspeed,jdbcType=INTEGER},
      </if>
      <if test="record.cfuel != null" >
        CFuel = #{record.cfuel,jdbcType=VARCHAR},
      </if>
      <if test="record.ctype != null" >
        CType = #{record.ctype,jdbcType=VARCHAR},
      </if>
      <if test="record.cgear != null" >
        CGear = #{record.cgear,jdbcType=VARCHAR},
      </if>
      <if test="record.cwarranty != null" >
        Cwarranty = #{record.cwarranty,jdbcType=INTEGER},
      </if>
      <if test="record.ctankCapacity != null" >
        Ctank_capacity = #{record.ctankCapacity,jdbcType=INTEGER},
      </if>
      <if test="record.cacceleration != null" >
        CAcceleration = #{record.cacceleration,jdbcType=REAL},
      </if>
      <if test="record.cpic5 != null" >
        CPic5 = #{record.cpic5,jdbcType=VARCHAR},
      </if>
      <if test="record.cpic4 != null" >
        CPic4 = #{record.cpic4,jdbcType=VARCHAR},
      </if>
      <if test="record.cpic3 != null" >
        CPic3 = #{record.cpic3,jdbcType=VARCHAR},
      </if>
      <if test="record.cpic1 != null" >
        CPic1 = #{record.cpic1,jdbcType=VARCHAR},
      </if>
      <if test="record.cpic2 != null" >
        CPic2 = #{record.cpic2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update Car
    set CID = #{record.cid,jdbcType=INTEGER},
      CName = #{record.cname,jdbcType=VARCHAR},
      CPrice = #{record.cprice,jdbcType=REAL},
      CSpeed = #{record.cspeed,jdbcType=INTEGER},
      CFuel = #{record.cfuel,jdbcType=VARCHAR},
      CType = #{record.ctype,jdbcType=VARCHAR},
      CGear = #{record.cgear,jdbcType=VARCHAR},
      Cwarranty = #{record.cwarranty,jdbcType=INTEGER},
      Ctank_capacity = #{record.ctankCapacity,jdbcType=INTEGER},
      CAcceleration = #{record.cacceleration,jdbcType=REAL},
      CPic5 = #{record.cpic5,jdbcType=VARCHAR},
      CPic4 = #{record.cpic4,jdbcType=VARCHAR},
      CPic3 = #{record.cpic3,jdbcType=VARCHAR},
      CPic1 = #{record.cpic1,jdbcType=VARCHAR},
      CPic2 = #{record.cpic2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.cqu.pojo.Car" >
    update Car
    <set >
      <if test="cname != null" >
        CName = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="cprice != null" >
        CPrice = #{cprice,jdbcType=REAL},
      </if>
      <if test="cspeed != null" >
        CSpeed = #{cspeed,jdbcType=INTEGER},
      </if>
      <if test="cfuel != null" >
        CFuel = #{cfuel,jdbcType=VARCHAR},
      </if>
      <if test="ctype != null" >
        CType = #{ctype,jdbcType=VARCHAR},
      </if>
      <if test="cgear != null" >
        CGear = #{cgear,jdbcType=VARCHAR},
      </if>
      <if test="cwarranty != null" >
        Cwarranty = #{cwarranty,jdbcType=INTEGER},
      </if>
      <if test="ctankCapacity != null" >
        Ctank_capacity = #{ctankCapacity,jdbcType=INTEGER},
      </if>
      <if test="cacceleration != null" >
        CAcceleration = #{cacceleration,jdbcType=REAL},
      </if>
      <if test="cpic5 != null" >
        CPic5 = #{cpic5,jdbcType=VARCHAR},
      </if>
      <if test="cpic4 != null" >
        CPic4 = #{cpic4,jdbcType=VARCHAR},
      </if>
      <if test="cpic3 != null" >
        CPic3 = #{cpic3,jdbcType=VARCHAR},
      </if>
      <if test="cpic1 != null" >
        CPic1 = #{cpic1,jdbcType=VARCHAR},
      </if>
      <if test="cpic2 != null" >
        CPic2 = #{cpic2,jdbcType=VARCHAR},
      </if>
    </set>
    where CID = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.cqu.pojo.Car" >
    update Car
    set CName = #{cname,jdbcType=VARCHAR},
      CPrice = #{cprice,jdbcType=REAL},
      CSpeed = #{cspeed,jdbcType=INTEGER},
      CFuel = #{cfuel,jdbcType=VARCHAR},
      CType = #{ctype,jdbcType=VARCHAR},
      CGear = #{cgear,jdbcType=VARCHAR},
      Cwarranty = #{cwarranty,jdbcType=INTEGER},
      Ctank_capacity = #{ctankCapacity,jdbcType=INTEGER},
      CAcceleration = #{cacceleration,jdbcType=REAL},
      CPic5 = #{cpic5,jdbcType=VARCHAR},
      CPic4 = #{cpic4,jdbcType=VARCHAR},
      CPic3 = #{cpic3,jdbcType=VARCHAR},
      CPic1 = #{cpic1,jdbcType=VARCHAR},
      CPic2 = #{cpic2,jdbcType=VARCHAR}
    where CID = #{cid,jdbcType=INTEGER}
  </update>
</mapper>