
/*Extra large devices (large desktops, 1200px and 1400px)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {

.main-menu li a {
    padding: 16px 4px;
}
.product-view .tab-content {
    margin-left: 10px;
}
.product-view .nav-pills .nav-link {
    width: 100%;

}
}
/*Extra large devices (large desktops, 1200px and 1400px)*/
@media (min-width: 1400px) and (max-width: 1440px) {

.main-menu li {
    margin-left: 10px;
}

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1277.98px) {
.main-menu li{
    margin-left: 9px;
}
.main-menu li a {
    padding: 16px 14px !important;
}
.app-store a {
    margin-right: 12px;
}

}


/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
.main-menu li a {
    padding: 16px 4px;
}
.header-search {
    padding: 31px 20px 31px 20px;
}
.shear-links li a {
    width: 35px;
    height: 35px;
    line-height: 37px;
    margin: 0 2.5px;
}
.widget-content p i {
    margin-right: 2px;
}
.app-store a {
    margin-right: 10px;
}
.app-store {
    margin-top: 5px;
}
.cta-wrap p {
    line-height: 1.4;
}
.shop.blog-area.pb-100 {
    padding-bottom: 60px;
}
.not-fount-area.pt-200 {
    padding-top: 100px;
}
.not-fount-area.pb-200 {
    padding-bottom: 100px;
}
.table.modal-table tr th {
    padding-right: 46px;
    padding-left: 15px;
}
.separet-70 {
    height: 35px;
}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
.product-carousel .owl-nav {
    margin-top: 0;
}
.slider-range input[type="text"]:last-child {
    margin-left: 0;
}
.header-search {
    padding: 0;
}
.search-area {
    width: 60%;
}
.logo a {
    padding: 20px 0;
}
.single-slide {
    height: 450px;
}
.feture-area .separet-30 {
    height:  0;
}
.feture-area .single-product {
    margin-bottom:  30px;
}
.blog-list {
    margin-bottom: 30px;
}
.mb-less-30{
    margin-bottom: -30px;
}
.footer-area {
    margin-top: -75px;
}
.cta-wrap p {
    line-height: 1.5;
}
.cta-form.cta-form.form-inline {
    margin-top: 15px;
}
.shear-links li a {
    margin: 0 0 4px;
}
.app-store a {
    margin-right: 0;
    float: none;
    width: 100%;
    margin-bottom: 5px;
}
.app-store {
    margin-top: 15px;
}
.widget-title.mt-40 {
    margin: 15px 0;
}
.copyright p {
    text-align: left;
    line-height: 1.4;
}
.blog-area.pb-100 {
    padding-bottom: 60px;
}
.single-product {
    margin-bottom: 30px;
}
.blog-area .separet-30 {
    height: 0;
}
.blog-area .separet-70 {
    height: 20px;
}
.cupon-button .btn {
    padding: 10px 15px;
}
.cupon-button .btn.disabled {
    margin-right: 0px;
}
.pb-100 {
    padding-bottom: 50px;
}
.pt-100 {
    padding-top: 50px;
}
.single-count {
    min-height: 105px;
}
.video-area {
    height: 300px;

}
.not-fount-area.pt-200 {
    padding-top: 100px
}
.not-fount-area.pb-200 {
    padding-bottom: 100px
}
.modal-multi-product .modal-content {
    padding: 0;
}
.modal {
    padding-left: 17px;
}
.table.modal-table tr th {
    padding-right: 27px;
    padding-left: 10px;
}
.modal-multi-product .product-view .tab-content {
    margin-left: 47px;
}
.product-view .tab-content {
    padding: 70px 0;
}
.single-service {
    width: 50%;
    margin: 5px 0;
}
p {
    line-height: 21px;
}
.blog-content h6 {
    margin-bottom: 5px;
}
.service-content p {
    font-size: 14px;
}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
.header-menu {
    padding: 15px 0;
}
.header-search {
    padding: 0;
}
.search-area {
    width: 50%;
    margin-left: 35px;
}
.logo-area {
    width: 50%;
    margin: 0 auto;
}
.logo a {
    padding: 0;
}
.single-slide {
    height: 450px;
}
.feture-area .separet-30 {
    height:  0;
}
.feture-area .single-product {
    margin-bottom:  30px;
}
.single-service {
    width: 50%;
}
.service-wrap .single-service:nth-child(2) {
    border: none;
}
.review-content {
    width: 85%;
}
.blog-list {
    margin-bottom: 30px;
}
.mb-less-30{
    margin-bottom: -30px;
}
.cta-title {
    margin-bottom: 15px;
}
.cta-wrap p {
    line-height: 1.5;
}
.cta-form.cta-form.form-inline {
    margin-top: 15px;
}
.footer-area {
    margin-top: -100px;
}
.pt-100 {
    padding-top: 50px;
}
.pb-100 {
    padding-bottom: 50px;
}
.pt-110 {
    padding-top: 135px;
}
.middle-widget-content .widget-content {
    float: left;
    width: 100%;
    margin: 10px 0;
}
.shear-links li a {
    margin: 0 4px 4px;
}

.app-store a {
    width: 47.6%;
}
.app-store a img{
    width: 100%;
}
.app-store {
    margin-top: 15px;
    width: 80%;
}
.widget-title.mt-40 {
    margin: 15px 0;
}
.footer-copyright {
    padding: 20px 0;
}
.copyright p {
    text-align: left;
    line-height: 1.4;
}
.footer-copyright  .logo a {
    padding: 0;
}
.blog-area.pb-100 {
    padding-bottom: 60px;
}
.single-product {
    margin-bottom: 30px;
}
.blog-area .separet-30 {
    height: 0;
}
.blog-area .separet-70 {
    height: 20px;
}
.shop.blog-area .side-bar {
    margin-bottom: 30px;
}
.product-view .nav-pills .nav-link {
    width: 100%;
}
.single-product.wide-product .product-content span {
    margin-bottom: 0px;
}
.single-product.wide-product .product-content {
    margin-bottom: 0px;
}
.cupon-button.text-right {
    text-align: left !important;
}
.form-inline.cupon-form {
    margin-bottom: 15px;
}
.overview-product-content {
    text-align: center;
}
.overview-product-content.pl-50 {
    padding: 0;
}
.overview-image {
    margin-bottom: 15px;
}
.blog-list .blog-thumb {
    max-height: 165px !important;
}
.blog-content h6 {
    margin-bottom: 6px;
}
.blog-content p {
    line-height: 1.5;
    margin-bottom: 3px;
}
.single-side-widget {
    margin-bottom: 30px;
}
.widget-search .form-control {
    width: 100% !important;
}
.single-count {
    margin-bottom: 30px;
}
.about-count-down {
    margin-bottom: -30px;
}
.single-carousel img {
    margin: 0 auto 15px;
}
.single-carousel h6 {
    margin: 20px 0 0;
}
.video-area {
    height: 250px;
}
.testimonial-area.pb-100 {
    padding-bottom: 0;
}
.contact-address h6, .contact-form h6 {
    margin-bottom: 5px;
}
.contact-address {
    margin-top: 25px;
}
.map {
    height: 250px;
}
.not-fount-area.pt-200 {
    padding-top: 100px
}
.not-fount-area.pb-200 {
    padding-bottom: 100px
}
.modal-product.text-right {
    text-align: left !important;
    margin-top: 15px;
}
.modal-multi-product .product-view .tab-content {
    height: auto;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}
.table.modal-table tr th {
    padding-right: 4px;
    padding-left: 0;
}
.modal-multi-product .modal-content {
    padding: 0;
}
.modal-product button {
    margin-left: 0;
}
.modal {
    padding-left: 17px;
}
.checkout-area .card-body .coppon-code-input {
    margin-bottom: 15px;
}
p{
	line-height: 23px;
}
.product-carousel .owl-nav {
    margin-top: 0;
}
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
.logo-area {
    width: 50%;
    margin: 0 auto;
}
.product-carousel .owl-nav {
    margin-top: 0;
}
.review-carousel .owl-dots {
    margin-top: 15px;
}
.section-title p {
    line-height: 21px;
}
.search-area {
    width: 100%;
}
.product-view .nav-pills .nav-link {
    width: 78px;
    margin: 0 5px;
    margin-bottom: 30px;
}
#v-pills-tab {
    flex-direction: row !important;
}
.modal-content .product-view .nav-pills .nav-link {
    width: 54px;
}
.modal-multi-product .product-view .tab-content {
    margin-left: 0;
}
.single-desc {
    margin-top: 30px;
}
.modal-multi-product .modal-content {
    padding: 0;
}
.product-detils-tab .detils-tab {
    padding: 0 0 35px 0;
}
.product-area .mb-80 {
    margin-bottom: 25px;
}
.product-area.pb-100 {
    padding-bottom: 0;
}
.single-inputs ul li span {
    margin-left: 0;
}
.single-inputs ul li {
    margin-bottom: 15px;
}
.single-inputs ul li:last-child {
    margin-bottom: 0;
}
.header-t-right.text-right {
    text-align: center !important;
}
.header-t-left .header-addres {
    margin-right: 0;
    text-align: center;
    margin-bottom: 15px;
    justify-content: center;
}
.header-t-left .header-addres p {
    line-height: 1.5;
}
.addtocart-dropdown {
    width: auto;
    top: 190%;
    padding: 25px 0 30px;
}
.header-menu {
    padding:  15px 0;
}
.logo.float-left {
    float: none !important;
    text-align: center;
}
.logo a {
    padding:0  0 15px;
}
.header-search {
    padding: 0 50px 0 0;
}
.mean-container .mean-nav {
    margin-top: 10px;
}
.single-slide {
    height: 400px;
}
.slide-content h1 {
    font-size: 31px;
    line-height: 31px;
}
.slide-content .btn {
    margin-top: 5px;
}
.single-service {
    width: 100%;
    border-right: none;
    padding: 0;
    margin-bottom: 15px;
}
.service-wrap .single-service:last-child {
    margin-bottom: 0;
}
.single-service .float-left {
    float: none !important;
}
.service-wrap {
    text-align: center;
}
.icon-wrap {
    margin: 0 auto 10px;
}
.section-title h3 {
    margin-bottom: 35px;
}
.review-content {
    width: 83%;
}
h3 {
    font-size: 22px;
}
.pt-100 {
    padding-top: 50px;
}
.pb-100 {
    padding-bottom: 50px;
}
.pb-60 {
    padding-bottom: 50px;
}
.pt-110 {
    padding-top: 65px;
}
.single-product {
    margin-bottom: 30px;
}
.feture-area .row.mb-less-30 {
    margin-bottom: -29px;
}
.separet-70 {
    height: 20px;
}
.blog-list {
    margin-bottom: 30px;
}
.blog-area .row.mb-less-30 {
    margin-bottom: -30px;
}
.cta-area {
    padding-bottom: 50px;
}
.cta-form .form-control {
    width: 100%;
}
.cta-form {
    position: relative;
}

.cta-form #subscribe-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 35%;
}
.cta-wrap {
    box-shadow: none;
    border-radius: 0;
    padding: 0 0;
    background-color: transparent;
    text-align: center;
}
.cta-wrap p {
    margin-bottom: 15px;
}

.footer-area {
    margin-top: 0;
}
.widget-title, .widget-title.store-title {
    margin-bottom: 0;
}
.widget-content p {
    margin-bottom: 0;
}
.shear-links, .app-store {
    margin-top: 10px;
}
.middle-widget-content .widget-content {
    float: none;
    width: 100%;
    margin: 20px 0;
}
.widget-title.mt-40 {
    margin-top: 15px;
}
.shear-links li a {
    margin: 0 0;
}

.app-store a {
    margin-right: 10px;
}
.footer-copyright {
    padding: 25px 0;
}
.footer-copyright .logo a {
    padding: 10px 0;
}
.copyright p {
    line-height: 1.5;
    text-align: center;
}
.side-bar {
    margin-bottom: 30px;
}
.side-bar.sm--mb--top--30 {
    margin-top: 30px;
    margin-bottom: 0;
}
.checkout-title h3 {
    margin-bottom: 35px;
}
.blog-area .separet-30 {
    height: 0;
}
.overview-product-content p {
    text-transform: capitalize;
    margin: 0;
    line-height: 26px;
}
.payment-method-details .form-check input[type=radio]+label:after, [type=radio]+label:before {
    top: 2px;
}
.payment-method-details .form-check input[type=radio]+label:after {
    top: 7px;
}
.checkout-area-deatils {
    border-radius: 0;
    box-shadow: none;
    padding: 0;
}
.payment {
    text-align: center;
}
.select-rerult {
    float: none;
    margin-top: 15px;
}
.single-product.wide-product .product-content {
    margin-bottom: 0;
    text-align: center;
    margin-top: 15px;
}
.product-icon-wrap {
    margin-top: 10px;
    text-align: center;
    display: none;
}
.single-product.wide-product .product-content span {
    margin-bottom: 0;
}
.product-content h6 {
    margin: 0;
    margin-bottom: 0;
}
.single-product.wide-product .product-images {
    height: 260px;
}
.form-inline.cupon-form .form-group .copun-btn {
    width: 142px;
}
.cupon-button.text-right {
    text-align: left !important;
}
.cupon-button .btn {
    padding: 10px 10px;
    margin-bottom: 15px;
}
.header-t-left .header-addres p span {
    margin-left: 0;
    font-size: 12px;
}
.total-price span {
    font-size: 14px;
}
.overview-product-content {
    text-align: center;
}
.overview-product-content.pl-50 {
    padding: 0;
}
.overview-image {
    margin-bottom: 15px;
}
.payment-method-details .payment-btn {
    width: auto;
    margin-top: 15px;
}
.payment-method-details .form-check {
    padding: 5px 0 1px 20px;
    line-height: 1.2;
}
.payment-method .checkout-form-title h4 {
    margin-bottom: 25px;
    font-size: 18px;
}
.checkout-form-title h4 {
    font-size: 18px;
    margin-bottom: 10px;
}
.checkout-form-title p {
    margin-bottom: 25px;
    line-height: 1.2;
}
.card-header a span {
    font-size: 10px;
}
.card-header a {
    font-size: 12px;
}
.accordion .card-header a:after {
    right: -5px;
}
.nice-select:after {
    margin-top: -4px;
    right: 11px;
}
.checkout-form .form-control {
    margin-bottom: 15px;
}

.checkout-form .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 12px;
}
.checkout-form .form-control::-moz-placeholder { /* Firefox 19+ */
  font-size: 12px;
}
.checkout-form .form-control:-ms-input-placeholder { /* IE 10+ */
  font-size: 12px;
}
.checkout-form .form-control:-moz-placeholder { /* Firefox 18- */
  font-size: 12px;
}
.nice-select.select-product .current {
    font-size: 12px;
}
.blog-content h6 {
    margin-bottom: 8px;
    min-height: 0;
}
.blog-content p {
    margin-bottom: 5px;
}
.widget-search .form-control {
    width: 100% !important;
}
.widget-search .btn {
    right: 4px;
    top: -6px;
    margin: 0;
}
.single-count {
    margin-bottom: 30px;
}
.about-count-down {
    margin-bottom: -30px;
}
.video-area {
    height: 200px;
}
.single-carousel h6 {
    margin: 10px 0 0;
}
.single-carousel img {
    margin: 0 auto 5px;
}
.testimonial-area.pb-100 {
    padding-bottom: 0;
}
.contact-address h6, .contact-form h6 {
    margin-bottom: 5px;
}
.contact-address {
    margin-top: 25px;
}
.map {
    height: 200px;
}
.faq .accordion .card-header a {
    font-size: 12px;
    line-height: 1.1;
}
.faq .accordion .card-header a:after {
    right: -15px;
    top: 0px;
}
.faq .accordion .card-header {
    height: auto;
}
.faq .card-body .faq-description p {
    line-height: 1.6;
}
.not-fount-area.pt-200 {
    padding-top: 50px
}
.not-fount-area.pb-200 {
    padding-bottom: 50px
}
.not-found-content p {
    margin: 15px 0 15px;
    line-height: 1.5;
}
.form-notfound {
    width: 100%;
}
.modal-product.text-right {
    text-align: left !important;
}
.modal-product button {
    margin-left: 0px;
}
.modal-product {
    margin-bottom: 10px;
}
.modal-product-title h6 {
    font-size: 15px;
}
.modal-header {
    padding-bottom: 0;
}
.table.modal-table {
    overflow: hidden;
}
.table td, .table th {
    padding: 0;
}
.table.modal-table tr th {
    padding: 0;
    font-size: 13px;
}
.table.modal-table tr td p {
    line-height: 1.5;
}
.addtocart-dropdown {
    right: -89px;
}
.addtocart-dropdown > img {
    right: 83px;
}
.single-blog-content .blockquote {
    font-size: 16px;
    margin-left: 0;
}
.comment-meta.ml-100 {
    margin-left: 0;
}
.replay-btn {
    top: 6px;
    font-size: 15px;
}
.modal {
    padding-left: 17px;
}
.product-view .tab-content {
    padding: 85px 0;
}
.checkout-area .card-body .coppon-code-btn{
	margin-bottom: 0;
}
.checkout-area .card-body .coppon-code {
    padding: 0;
}
.footer-widget.gray-bg.pt-110 {
    padding-top: 50px;
}
.review-content p {
    line-height: 19px;
}
h3 {
    line-height: 1.1;
}
}
@media (min-width: 320px) and (max-width: 479.98px) {
.header-t-left .header-addres i {
    margin-right: 4px;
}
.product-content h6 {
    margin: 15px;
    margin-bottom: 0;
}
.table td, .table th {
    padding: 7px;
}
.checkout-login-form .lost-pass {
    margin-left: 15px;
}

}
@media (min-width: 480px) and (max-width: 575.98px) {



}

